@use "../mixins/index" as *;

.about {
  &_cards {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-auto-rows: minmax(363px, auto);
    grid-template-columns: repeat(3, 1fr);
  }

  &_card {
    position: relative;
    padding: 32px;
    background: var(--bg-card);
    border-radius: 10px;
    box-shadow: 0 4px 24px 0 rgb(13 29 61 / 10%);
    background-repeat: no-repeat;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      aspect-ratio: 1/1;
      z-index: -1;
    }

    &.revision {
      grid-row: 1/3;
      grid-column: 1/2;

      &::before {
        content: "";
        position: absolute;
        right: -33%;
        bottom: -2%;
        width: 124%;
        max-width: 545px;
        background-image: url("/assets/puzzle-piece.png");
      }
    }

    &.support {
      grid-row: 1/2;
      grid-column: 2/3;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        right: -1%;
        bottom: -11%;
        width: 52%;
        max-width: 246px;
        background-image: url("/assets/hand-with-square.png");

        /* Apply the rotation */
        transform: rotate(-60.2deg); /* Rotate the background image by 15 degrees clockwise */

        /* Center the origin of the transform (optional, defaults to center) */
        transform-origin: center;
      }
    }

    &.troubleshooting {
      grid-row: 1/2;
      grid-column: 3/4;

      &::before {
        background-image: url("/assets/bolt-comb.png");
        right: -18%;
        bottom: -15%;
        width: 55%;
        max-width: 242px;
        aspect-ratio: 1/1;
      }
    }

    &.partner {
      padding-right: 40%;
      grid-row: 2/3;
      grid-column: 2/4;

      &::before {
        background-image: url("/assets/two-translucent-hands.png");
        right: -4%;
        bottom: -10%;
        width: 45%;
        max-width: 405px;
      }
    }
  }

  &_title {
    @include accent-body-24-bold;

    padding-bottom: 24px;
  }

  &_desc {
    @include body-18-regular;
  }
}
