@use "../mixins/index" as *;
@use "../base/variables" as *;

.about {
  &_cards {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-auto-rows: minmax(363px, auto);
    grid-template-columns: repeat(3, 1fr);

    @media (width >= $to-tablet-width) {
      opacity: 0;
      transform: translateY(20px); /* Начальное смещение */
      transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;

      &.is-visible {
        opacity: 1;
        transform: translateY(0); /* Конечная позиция */
      }
    }

    @media (width < $to-tablet-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width < $to-mobile-width) {
      display: flex;
      flex-direction: column;
      align-items: center;

      // grid-auto-rows: minmax(auto, 434px);
      gap: 16px;
    }
  }

  &_title {
    @include accent-body-24-bold;

    padding-bottom: 24px;

    @media (width < $to-tablet-width) {
      padding-bottom: 16px;
    }
  }

  &_card {
    position: relative;
    padding: 32px;
    background: var(--bg-card);
    border-radius: 10px;
    box-shadow: 0 4px 24px 0 rgb(13 29 61 / 10%);
    background-repeat: no-repeat;
    overflow: hidden;

    @media (width < $to-mobile-width) {
      padding: 24px 16px 250px;
      height: fit-content;
    }

    &:hover {
      box-shadow: 0 4px 24px 12px rgb(13 29 61 / 10%);

      & .about_title {
        color: var(--blue-500);
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      aspect-ratio: 1/1;
      z-index: -1;
    }

    &.revision {
      grid-row: 1/3;
      grid-column: 1/2;

      @media (width < $to-tablet-width) {
        grid-row: 1/2;
        grid-column: 1/3;
        padding-right: 225px;
      }

      @media (width < $to-mobile-width) {
        grid-row: 1/2;
        grid-column: 1/2;
        padding-right: 16px;
      }

      &::before {
        content: "";
        position: absolute;
        right: -33%;
        bottom: -2%;
        width: 124%;
        max-width: 545px;
        background-image: url("/assets/puzzle-piece.png");

        @media (width < $to-tablet-width) {
          width: 330px;
          right: -9%;
          bottom: -17%;
        }

        @media (width < $to-mobile-width) {
          width: 315px;
          right: -40px;
          bottom: -70px;
        }
      }
    }

    &.support {
      grid-row: 1/2;
      grid-column: 2/3;
      overflow: hidden;

      @media (width < $to-tablet-width) {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      @media (width < $to-mobile-width) {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      &::before {
        content: "";
        position: absolute;
        right: -1%;
        bottom: -11%;
        width: 52%;
        max-width: 246px;
        background-image: url("/assets/hand-with-square.png");

        /* Apply the rotation */
        transform: rotate(-60.2deg); /* Rotate the background image by 15 degrees clockwise */

        /* Center the origin of the transform (optional, defaults to center) */
        transform-origin: center;

        @media (width < $to-tablet-width) {
          width: 210px;
          bottom: -14%;
          transform: rotate(-69.182deg);
        }

        @media (width < $to-mobile-width) {
          bottom: -50px;
          right: -10px;
          width: 310px;
          max-width: none;
          transform: rotate(-53.069deg);
        }
      }
    }

    &.troubleshooting {
      grid-row: 1/2;
      grid-column: 3/4;

      @media (width < $to-tablet-width) {
        grid-row: 2/3;
        grid-column: 2/3;
      }

      @media (width < $to-mobile-width) {
        grid-row: 3/4;
        grid-column: 1/2;
      }

      &::before {
        background-image: url("/assets/bolt-comb.png");
        right: -18%;
        bottom: -15%;
        width: 55%;
        max-width: 242px;
        aspect-ratio: 1/1;

        @media (width < $to-tablet-width) {
          width: 200px;
          right: -10%;
          bottom: -10%;
        }

        @media (width < $to-mobile-width) {
          max-width: none;
          width: 300px;
          right: -80px;
          bottom: -50px;
        }
      }
    }

    &.partner {
      padding-right: 40%;
      grid-row: 2/3;
      grid-column: 2/4;

      @media (width < $to-tablet-width) {
        padding-right: 37%;
        grid-row: 3/4;
        grid-column: 1/3;
      }

      @media (width < $to-mobile-width) {
        padding-right: 16px;
        padding-bottom: 218px;
        grid-row: 4/5;
        grid-column: 1/2;
      }

      &::before {
        background-image: url("/assets/two-translucent-hands.png");
        right: -4%;
        bottom: -10%;
        width: 45%;
        max-width: 405px;

        @media (width < $to-tablet-width) {
          width: 39%;
          right: -3%;
          bottom: -5%;
        }

        @media (width < $to-mobile-width) {
          max-width: none;
          width: 310px;
          right: -45px;
          bottom: -65px;
        }
      }
    }
  }

  &_desc {
    @include body-regular;

    font-size: 18px;

    @media (width < $to-mobile-width) {
      font-size: 16px;
      line-height: 130%;
    }
  }
}
