.chart-section {
  padding: 5px 0;
  background: green;

  &__title {
    text-align: center;
    margin-bottom: 0;
    color: black;
  }
}

.chart-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
}

// Адаптивность для canvas
canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 500px;
}
