@use "../mixins/index" as *;
@use "../base/variables" as *;

.footer {
  &_wrapper {
    padding-bottom: 60px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 10% 1fr 1fr 1.6fr;

    @media (width < $to-tablet-width) {
      grid-template-columns: 1.6fr 10% 1fr 1.5fr;
    }

    @media (width < $to-mobile-width) {
      grid-template-columns: 1fr 1.5fr;
      gap: 24px;
    }
  }

  &_logo-conteiner {
    grid-row: 1/2;
    grid-column: 1/2;

    @media (width < $to-tablet-width) {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    @media (width < $to-mobile-width) {
      grid-row: 1/2;
      grid-column: 1/3;
    }
  }

  &_navigation {
    grid-row: 1/3;
    grid-column: 3/4;

    @media (width < $to-tablet-width) {
      grid-row: 1/2;
      grid-column: 3/4;
    }

    @media (width < $to-mobile-width) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }

  &_more {
    grid-row: 1/2;
    grid-column: 4/5;

    @media (width < $to-tablet-width) {
      grid-row: 2/3;
      grid-column: 3/4;
    }

    @media (width < $to-mobile-width) {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }

  &_pravo {
    grid-row: 1/2;
    grid-column: 5/6;

    @media (width < $to-tablet-width) {
      grid-row: 1/2;
      grid-column: 4/5;
    }

    @media (width < $to-mobile-width) {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &_projects {
    grid-row: 2/3;
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (width < $to-tablet-width) {
      grid-row: 2/3;
      grid-column: 4/5;
    }

    @media (width < $to-mobile-width) {
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }

  &_copyright {
    grid-row: 2/3;
    grid-column: 1/2;

    @media (width < $to-tablet-width) {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    @media (width < $to-mobile-width) {
      grid-row: 4/5;
      grid-column: 1/3;
    }
  }

  &_logo {
    margin-bottom: 8px;
  }

  &_desc {
    @include body-16-regular;

    max-width: 300px;

    @media (width < $to-tablet-width) {
      font-size: 12px;
    }

    @media (width < $to-mobile-width) {
      max-width: 240px;
    }
  }

  &_title {
    padding-bottom: 16px;
    color: var(--text-dark-500);
    font-family: var(--font-body);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (width < $to-mobile-width) {
      font-size: 14px;
      padding-bottom: 8px;
    }
  }

  &_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (width < $to-mobile-width) {
      gap: 4px;
    }
  }

  &_link {
    @include body-16-regular;

    @media (width < $to-mobile-width) {
      font-size: 14px;
      line-height: normal;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &_rules {
    @include body-12-regular;

    padding-bottom: 8px;
    color: var(--body-text-100);
  }

  &_title {
    @include body-12-regular;

    color: var(--text-dark-500);
  }
}

.to-top_btn {
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 10;
  width: 48px;
  height: 64px;
  border-radius: 10px;
  background: url("/assets/icon/top.svg"), linear-gradient(180deg, #1a3c80 0%, #2e6ce6 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size:
    14px 14px,
    contain;
  box-shadow: var(--icon-shadow);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &:hover,
  &:active {
    background-size:
      24px 24px,
      contain;
  }

  @media (width < $to-mobile-width) {
    width: 32px;
    height: 48px;

    &:hover,
    &:active {
      background-size:
        16px 16px,
        contain;
    }
  }
}
