@use "../mixins/index" as *;

.reviews {
  &_slide {
    height: 100%;
    padding: 32px 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 4px 24px 0 rgb(13 29 61 / 10%);

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      right: 26px;
      z-index: 100;
      width: 28px;
      height: 28px;
      background: var(--liner-orange);
      display: block;
      mask-image: url("/assets/icon/quotes.svg");
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    &:hover::before {
      background: var(--liner);
    }
  }

  &_logo {
    width: 129px;
    height: 128px;
    margin-bottom: 16px;
    object-fit: contain;
  }

  &_title {
    color: var(--text-dark-500, #162035);

    @include text-button-16-semibold;

    padding-bottom: 24px;
  }

  &_desc {
    padding-bottom: 40px;
    flex-grow: 1;
    color: var(--body-text-100, #6b7280);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  &_name {
    width: 100%;
    color: var(--text-dark-500);

    @include text-button-16-semibold;

    padding-bottom: 8px;
  }

  &_profession {
    width: 100%;

    @include body-16-regular;

    color: var(--body-text-200, #374151);
  }
}
