@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.work {
  &_conteiner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
  }

  &_card {
    padding: 24px;
    display: flex;
    width: calc((100% - 60px) / 4);
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;

    &_img {
      width: 180px;
      height: 180px;
      padding-bottom: 24px;
      background: radial-gradient(
        54.93% 44.57% at 49.85% 30.16%,
        #ff383c 0%,
        rgb(255 255 255 / 0%) 48.78%
      );
      background-size: 260px 260px;
      background-position: center;
    }

    &:hover > .work_img {
      background: radial-gradient(
        54.93% 44.57% at 49.85% 30.16%,
        #ff383c 0%,
        rgb(255 255 255 / 0%) 48.78%
      );
      background-size: 180px 180px;
    }
  }

  &_title {
    @include accent-body-24-bold;

    padding-bottom: 16px;
  }

  &_desc {
    @include body-regular;

    text-align: center;
    padding-bottom: 24px;
  }

  &_highlight {
    @include accent-body-24-bold;

    color: var(--blue-500, #2e6ce6);
  }
}
