@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.work {
  &_conteiner {
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;

    @media (width < $to-tablet-width) {
      flex-wrap: wrap;
      row-gap: 45px;
    }

    @media (width < $to-mobile-width) {
      row-gap: 16px;
      padding-bottom: 40px;
    }
  }

  &_img-conteiner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin-bottom: 24px;
    background: radial-gradient(
      54.93% 44.57% at 49.85% 30.16%,
      #ff383c 0%,
      rgb(255 255 255 / 0%) 48.78%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms;

    @media (width < $to-mobile-width) {
      margin-bottom: 16px;
    }
  }

  &_img {
    width: 130px;
    height: 130px;
  }

  &_card {
    padding-top: 24px;
    display: flex;
    width: calc((100% - 60px) / 4);
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;

    @media (width < $to-tablet-width) {
      width: calc((100% - 20px) / 2);
    }

    @media (width < $to-mobile-width) {
      width: 100%;
      padding-top: 8px;
    }

    &:hover > .work_img-conteiner {
      background: none;
    }
  }

  &_title {
    @include accent-body-24-bold;

    text-align: center;
    padding-bottom: 16px;

    @media (width < $to-mobile-width) {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &_desc {
    @include body-regular;

    text-align: center;
    padding-bottom: 24px;

    @media (width < $to-mobile-width) {
      font-size: 18px;
      padding-bottom: 8px;
    }
  }

  &_description {
    @include body-regular;

    text-align: center;
    padding-bottom: 24px;

    @media (width < $to-mobile-width) {
      font-size: 16px;
      padding-bottom: 16px;
    }
  }

  &_highlight {
    @include accent-body-24-bold;

    text-align: center;
    color: var(--blue-500);

    @media (width < $to-tablet-width) {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
