@use "../mixins/index" as *;
@use "../base/variables" as *;

.btn-conteiner {
  padding-bottom: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  @media (width < $to-tablet-width) {
    padding-bottom: 16px;
    gap: 8px;
  }

  @media (width < $to-mobile-width) {
    flex-direction: column;
  }
}

.btn {
  @include text-button-16-semibold;

  padding: 17px 32.5px;
  min-width: 262px;
  display: flex;
  width: 238px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: linear-gradient(90deg, #1a3c80 0%, #2e6ce6 100%);
  white-space: nowrap;

  @media (width < $to-tablet-width) {
    padding: 16px 20px;
    min-width: 240px;
  }

  @media (width < $to-mobile-width) {
    padding: 16px 20px;
    min-width: auto;
    width: 100%;
  }

  // background-color: #1a3c80;
  color: var(--white, #fff);
  transition: all 500ms;

  &::before {
    background-color: var(--white, #fff);
    transition: all 500ms;
  }

  &:hover {
    background: linear-gradient(90deg, #397dff 0%, #2e6ce6 100%);

    &::before {
      background-color: var(--white, #fff);
    }
  }

  &--secondary {
    background: transparent;
    color: var(--accent-orange, #fa6e32);
    border: 1px solid var(--accent-orange, #fa6e32);

    &::before {
      background-color: var(--accent-orange, #fa6e32);
    }

    &:hover {
      color: var(--white, #fff);
      background: var(--accent-orange, #fa6e32);

      &::before {
        background-color: var(--white, #fff);
      }
    }
  }

  &--tg,
  &--mail {
    position: relative;
    padding-left: calc(20px + 8px + 32.5px);

    @media (width < $to-tablet-width) {
      padding-left: calc(18px + 8px + 20px);
    }

    &::before {
      content: "";
      position: absolute;
      left: 17px;
      top: calc(50% - 17px / 2);
      width: 20px;
      height: 17px;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;

      @media (width < $to-tablet-width) {
        left: 18px;
      }
    }
  }

  &--tg::before {
    mask-image: url("/assets/icon/tg.svg");

    @media (width < $to-mobile-width) {
      left: calc(50% - 90px);
    }
  }

  &--mail::before {
    left: 36px;
    mask-image: url("/assets/icon/mail.svg");

    @media (width < $to-mobile-width) {
      left: calc(50% - 75px);
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }

  // Размеры
  &--small {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-sm);
  }

  &--large {
    padding: var(--spacing-lg) var(--spacing-xl);
    font-size: var(--font-size-lg);
  }
}
