@use "../mixins/index" as *;

.btn {
  @include text-button-16-semibold;

  display: block;
  padding: 17px 32.5px;
  min-width: 262px;
  border-radius: 10px;
  background: linear-gradient(90deg, #1a3c80 0%, #2e6ce6 100%);

  // background-color: #1a3c80;
  color: var(--white, #fff);
  transition: all 500ms;

  &::before {
    background-color: var(--white, #fff);
    transition: all 500ms;
  }

  &:hover {
    background: linear-gradient(90deg, #397dff 0%, #2e6ce6 100%);

    // background: #397dff;

    &::before {
      background-color: var(--white, #fff);
    }
  }

  // Модификаторы
  &--secondary {
    background: transparent;
    color: var(--accent-orange, #fa6e32);
    border: 1px solid var(--accent-orange, #fa6e32);

    &::before {
      background-color: var(--accent-orange, #fa6e32);
    }

    &:hover {
      color: var(--white, #fff);
      background: var(--accent-orange, #fa6e32);

      &::before {
        background-color: var(--white, #fff);
      }
    }
  }

  &--tg,
  &--mail {
    position: relative;
    padding-left: calc(20px + 8px + 32.5px);

    &::before {
      content: "";
      position: absolute;
      left: 32.5px;
      top: calc(50% - 17px / 2);
      width: 20px;
      height: 17px;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
    }
  }

  &--tg::before {
    mask-image: url("/icon/tg.svg");
  }

  &--mail {
    padding-left: 80px;

    &::before {
      left: 47px;
      mask-image: url("/icon/mail.svg");
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }

  // Размеры
  &--small {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-sm);
  }

  &--large {
    padding: var(--spacing-lg) var(--spacing-xl);
    font-size: var(--font-size-lg);
  }

  // Используем SASS миксин для адаптивности
  @include tablet {
    width: 100%;
    max-width: 300px;
  }
}
