.pagination {
  &_btn {
    background-color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: aquamarine;
    }

    &:disabled {
      background-color: aqua;
    }
  }

  &_bullet {
    &--active {
      background-color: blue;
    }
  }
}
