.main-header {
  font-size: 48px;
}

.main-subheader {
  font-size: 48px;
}

.section-header {
  font-size: 48px;
}

.section-subheader {
  font-size: 48px;
}

.card-header {
  font-size: 48px;
}

.base-text {
  font-size: 48px;
}
