// Импорт базовых стилей
@use "base/root"; // CSS переменные
@use "base/reset";

// Импорт миксинов (SASS)
@use "mixins/index" as *;

// Импорт компонентов
@use "components/index";

// Импорт layout (только используемые)
@use "layout/section";
@use "layout/about";
@use "layout/chart";
@use "layout/cookie";
@use "layout/first";
@use "layout/footer";
@use "layout/form";
@use "layout/header";
@use "layout/modal";
@use "layout/review";
@use "layout/request";
@use "layout/solution";
@use "layout/swiper";
@use "layout/work";

// Страницы
@use "pages/consent";
@use "pages/not-found";

// Импорт шрифтов
@use "fonts/tektur" as tektur;
@use "fonts/inter" as inter;

// Глобальные стили
body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: var(--body-text-200);
  min-height: 100vh;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
  overflow: hidden;
}
