@use "../mixins/typography" as *;
@use "../base/variables" as *;

.consent {
  @include body-16-regular;

  @media (width < $to-mobile-width) {
    font-size: 12px;
  }

  & h2 {
    @include h2-40-semibold;

    padding-top: 60px;
    padding-bottom: 18px;
  }

  & h3 {
    font: var(--font-third-title);
  }

  & h4 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  & h1 + p,
  & h3 + p,
  & h2 + p {
    padding: 1em 0;
    font-weight: bold;
  }

  & ol {
    list-style-type: none;
    counter-reset: section;
  }

  & ol > li {
    padding-top: 20px;
    font-weight: bold;
  }

  & ul > li {
    list-style-type: disc;
  }

  & ol > li > ol > li {
    font-weight: normal;
  }

  & ol > li::before {
    content: counters(section, ".") ". ";
    counter-increment: section;
  }

  & ol > li > * {
    font-weight: normal;
  }

  & ol + p {
    padding-top: 20px;
  }

  & ol > li > p {
    padding-top: 19px;
  }

  & ol > li > p:first-child {
    display: inline;
    font-weight: bold;
  }

  & ul {
    padding-left: 2em;
  }

  & ul > li > ul {
    padding-left: 1em;
  }

  & ul > li > ul > li {
    list-style-type: circle;
  }

  & a,
  .footer_link {
    color: var(--blue);
    cursor: pointer;
  }

  & a:hover,
  .footer_link:hover {
    color: var(--dark-blue);
    text-decoration: underline;
  }
}
