// Импорт миксинов (SASS)
@use "mixins/index" as *;

// Импорт базовых стилей
@use "base/root"; // CSS переменные
@use "base/reset";

// Импорт компонентов
@use "components/index";

// Глобальные стили
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;
}
