// Импорт миксинов (SASS)
@use "mixins/index" as *;

// Импорт базовых стилей
@use "base/root"; // CSS переменные
@use "base/reset";

// Импорт компонентов
@use "components/index";
@use "layout/section";
@use "layout/about";
@use "layout/advantage";
@use "layout/case";
@use "layout/chart";
@use "layout/first";
@use "layout/form";
@use "layout/header";
@use "layout/news";
@use "layout/review";
@use "layout/solution";
@use "layout/stage";
@use "layout/success";
@use "layout/swiper";
@use "layout/work";
@use "fonts/IBMPlexSansCondensed/stylesheet" as IBMPlexSansCondensed;
@use "fonts/IBMPlexSans/stylesheet" as IBMPlexSans;
@use "fonts/tektur" as tektur;
@use "fonts/inter" as inter;

// Глобальные стили
body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: var(--body-text-200);
  min-height: 100vh;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}
