@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-Black.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-Bold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-Black.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-Bold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-Regular.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-Regular.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-Black.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-Medium.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-Bold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Tektur;
  src:
    url("/assets/fonts/Tektur/Tektur-Medium.woff2") format("woff2"),
    url("/assets/fonts/Tektur/Tektur-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-Medium.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("/assets/fonts/Tektur/TekturSemiCondensed-Regular.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("/assets/fonts/Tektur/TekturCondensed-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Tektur/TekturCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
