@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-ExtraBold.woff2") format("woff2"),
    url("Tektur-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-ExtraBold.woff2") format("woff2"),
    url("TekturSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-Black.woff2") format("woff2"),
    url("TekturSemiCondensed-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-SemiBold.woff2") format("woff2"),
    url("TekturSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-ExtraBold.woff2") format("woff2"),
    url("TekturCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-Bold.woff2") format("woff2"),
    url("TekturSemiCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-Black.woff2") format("woff2"),
    url("Tektur-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-Bold.woff2") format("woff2"),
    url("Tektur-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-SemiBold.woff2") format("woff2"),
    url("Tektur-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-Regular.woff2") format("woff2"),
    url("Tektur-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-Regular.woff2") format("woff2"),
    url("TekturCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-Black.woff2") format("woff2"),
    url("TekturCondensed-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-Medium.woff2") format("woff2"),
    url("TekturCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-Bold.woff2") format("woff2"),
    url("TekturCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur";
  src:
    url("Tektur-Medium.woff2") format("woff2"),
    url("Tektur-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-Medium.woff2") format("woff2"),
    url("TekturSemiCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src:
    url("TekturSemiCondensed-Regular.woff2") format("woff2"),
    url("TekturSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tektur Condensed";
  src:
    url("TekturCondensed-SemiBold.woff2") format("woff2"),
    url("TekturCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
