@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Italic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Light.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Thin.woff2") format("woff2"),
    url("/assets/fonts/IBMPlexSans/IBMPlexSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
