<footer class="footer">
  <a class="home_btn" href="#"></a>
  <div class="section_wrapper footer_wrapper">
    <div class="footer_logo-conteiner">
      <a href="/">
        <img
          class="footer_logo"
          src="/assets/logo-gradient.svg"
          alt="Велес-тех 1С"
          width="227px"
          height="23px"
        >
      </a>
      <p class="footer_desc">
        Гибкая команда экспертов по&nbsp;технической поддержке, обновлению и&nbsp;доработке
        систем&nbsp;1С
      </p>
    </div>
    <nav class="footer_nav footer_navigation">
      <h3 class="footer_title">Навигация</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-text" href="/#home">Главная</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/#about">Кто мы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/#work">Процесс</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/#solution">Кейсы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/#">Команда</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav footer_more">
      <h3 class="footer_title">Узнать больше</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-text" href="/#reviews">Отзывы</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/#">Статьи</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav footer_pravo">
      <h3 class="footer_title">Правовая информация</h3>
      <ul class="footer_list">
        <li class="footer_item">
          <a class="footer_link link-text" href="/politic">Политика конфиденциальности</a>
        </li>
        <li class="footer_item">
          <a class="footer_link link-text" href="/consent"
            >Согласие на обработку персональных данных</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer_projects">
      <h3 class="footer_title">Другие наши проекты</h3>
      <a href="http://nasbot.ru">
        <img
          class="logo_nasobes"
          src="/assets/nasobes.svg"
          alt="Насобес.рф"
          width="120px"
          height="23px"
        >
      </a>
    </div>
    <div class="footer_copyright copyright">
      <p class="copyright_rules">Все права защищены</p>
      <p class="copyright_title">© Велес-тех.РФ/1С</p>
    </div>
  </div>
</footer>
