<footer class="footer">
  <div class="section_wrapper footer_wrapper">
    <div class="footer_logo-conteiner">
      <a href="/">
        <img class="footer_logo" src="logo.png" alt="Велес-тех 1С">
      </a>
      <p class="footer_desc">
        Гибкая команда экспертов по&nbsp;технической поддержке, обновлению и&nbsp;доработке систем
        1С
      </p>
    </div>
  </div>
  <nav class="footer_nav">
    <h3 class="footer_title">Навигация</h3>
    <ul class="footer_list">
      <li class="footer_item">
        <a class="footer_link link-text" href="/#home">Главная</a>
      </li>
      <li class="footer_item">
        <a class="footer_link link-text" href="/#about">Кто мы</a>
      </li>
      <li class="footer_item">
        <a class="footer_link link-text" href="/#work">Процесс</a>
      </li>
      <li class="footer_item">
        <a class="footer_link link-text" href="/#solution">Кейсы</a>
      </li>
      <li class="footer_item">
        <a class="footer_link link-text" href="/#">Команда</a>
      </li>
    </ul>
  </nav>
  <nav class="footer_nav">
    <h3 class="footer_title">Узнать больше</h3>
    <ul class="footer_list">
      <li class="footer_item">
        <a class="footer_link link-text" href="/#reviews">Отзывы</a>
      </li>
      <!-- <li class="footer_item">
        <a class="footer_link link-text" href="/#">Статьи</a>
      </li> -->
    </ul>
  </nav>
  <nav class="footer_nav">
    <h3 class="footer_title">Правовая информация</h3>
    <ul class="footer_list">
      <li class="footer_item">
        <a class="footer_link link-text" href="/#chart">Экономия</a>
      </li>
    </ul>
  </nav>
  <div class="footer_projects">
    <h3 class="footer_title">Другие наши проекты</h3>
    <a href="http://nasbot.ru">
      <img class="logo_nasobes" src="nasobes.png" alt="Насобес.рф">
    </a>
  </div>
  <div class="copyright">
    <p class="copyright_rules">Все права защищены</p>
    <p class="copyright_title">© Велес-тех.РФ/1С</p>
  </div>
</footer>
