<header class="header">
  <a href="/">
    <img class="header_logo" src="./assets/logo-mini.png">
  </a>
  <nav class="header_nav">
    <ul class="header_list">
      <li class="header_item">
        <a class="header_link link-text" href="/#about">Кто мы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="/#reviews">Отзывы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="/#chart">Экономия</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="/#work">Процесс</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="/#">Статьи</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="/#">Команда</a>
      </li>
    </ul>
  </nav>
</header>
