<header class="header" role="banner">
  <a href="/">
    <img
      class="header_logo"
      src="/assets/logo-gradient.svg"
      alt="Логотип Велес-тех"
      width="227px"
      height="23px"
    >
  </a>
  <nav class="header_nav" aria-label="Основная навигация сайта">
    <ul id="menu" class="header_list">
      <li class="header_item">
        <a class="header_link link-text" href="./#about">Кто мы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="./#reviews">Отзывы</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="./#chart">Экономия</a>
      </li>
      <li class="header_item">
        <a class="header_link link-text" href="./#work">Процесс</a>
      </li>
      <!--<li class="header_item">
        <a class="header_link link-text" href="./#">Статьи</a>
      </li>-->
      <li class="header_item">
        <a class="header_link link-text" href="./#">Команда</a>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    id="toggle"
    class="toggle_btn"
    aria-label="Открыть меню"
    aria-controls="menu"
    aria-expanded="false"
    title="Меню"
  >
    <span class="line"></span>
  </button>
</header>
