@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLight.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-BoldItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Bold.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-MediumItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Thin.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ThinItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Italic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Light.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Medium.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBold.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-LightItalic.woff2") format("woff2"),
    url("/fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
