@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 12px;

  &_conteiner {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    @media (width < $to-mobile-width) {
      width: 100%;
      gap: 6px;
    }

    &--textarea,
    &--consent {
      width: 100%;
    }
  }

  &_label {
    @include body-regular;
  }

  &_input {
    @include body-regular;

    display: flex;
    height: 48px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid var(--body-text-100);
    background: transparent;
    outline: none;

    @media (width < $to-mobile-width) {
      font-size: 14px;
    }

    &::placeholder {
      color: var(--body-text-100);
    }

    // Стиль для заполненных полей без ошибок
    &.has-value:not([aria-invalid="true"]) {
      border: 1px solid var(--dark-blue-90060, rgb(3 15 37 / 60%));
      outline: 1px solid var(--dark-blue-90060, rgb(3 15 37 / 60%));
      color: var(--text-dark-500);
    }

    // Стиль для фокуса
    &:focus {
      border: 1px solid var(--blue-500);
      outline: none;
      color: var(--text-dark-500);
    }

    // Стиль для фокуса на заполненном поле
    &.has-value:focus:not([aria-invalid="true"]) {
      border: 1px solid var(--blue-500);
      outline: none;
      color: var(--text-dark-500);
    }

    // Стиль для ошибок (оставляем как было)
    &[aria-invalid="true"] {
      border: 1px solid var(--red-500);
      outline: none;
      color: var(--red-500);
    }
  }

  &_error {
    @include body-14-regular;

    position: relative;
    height: 18px;
    padding-left: 22px;
    color: var(--red-500);
    opacity: 0;

    &.show {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      background-image: url("/assets/icon/danger.svg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (width < $to-mobile-width) {
        width: 16px;
        height: 16px;
      }
    }

    @media (width < $to-mobile-width) {
      font-size: 12px;
    }
  }

  &_textarea {
    height: 136px;

    &.has-value:not([aria-invalid="true"]) {
      border: 1px solid var(--dark-blue-90060, rgb(3 15 37 / 60%));
      outline: 1px solid var(--dark-blue-90060, rgb(3 15 37 / 60%));
      color: var(--text-dark-500);
    }

    @media (width < $to-mobile-width) {
      height: 110px;
    }
  }

  &_btn-conteiner {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (width < $to-tablet-width) {
      margin-bottom: 16px;
    }

    @media (width < $to-mobile-width) {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  & .btn {
    height: 56px;

    @media (width < $to-tablet-width) {
      height: 48px;
    }
  }

  &_checkbox {
    /* Скрываем нативный чекбокс */
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
    opacity: 0;

    /* Кастомный чекбокс */
    &_checkmark {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: 2px solid var(--body-text-100);
      background: transparent;
      transition: all 0.1s ease;
    }

    /* Состояние checked */
    &:checked + &_checkmark {
      /* background: #3b82f6; */
      border-color: var(--blue-500);

      /* Галочка */
      &::after {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 6px;
        height: 10px;
        content: "";
        border: solid var(--blue-500);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    /* Focus состояние */
    &:focus + &_checkmark {
      border-color: var(--blue-500);
    }

    /* Disabled состояние */
    &:disabled + &_checkmark {
      cursor: not-allowed;
      border-color: var(--light-blue);
    }

    &:disabled:checked + &_checkmark {
      border-color: var(--light-blue);
    }
  }

  &_label[for="consent"] {
    position: relative;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (width < $to-mobile-width) {
      margin-top: 0;
      font-size: 14px;
    }

    /* Hover состояние */
    &:hover .form_checkbox_checkmark {
      cursor: pointer;
      border-color: var(--blue-500);
    }
  }

  &_link {
    color: var(--blue-500);
  }
}
