@use "../mixins/typography" as *;
@use "../mixins/utils" as *;
@use "../base/variables" as *;

.status {
  @include body-18-regular;

  color: var(--status-color);
  position: relative;
  width: 140px;
  padding: 8px;
  border-radius: 10px;
  padding-left: calc(8px + 24px + 8px);

  &::before {
    content: "";
    position: absolute;
    left: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--status-color);
    box-shadow: 0 0 3px 1px var(--status-color);
  }

  &:hover::before {
    box-shadow: 0 0 5px 2px var(--status-color);
  }

  &.problem {
    --status-color: var(--red-500);

    background: var(--red-100);
  }

  &.decision {
    --status-color: var(--blue-500);

    background: var(--blue-100);
  }

  &.result {
    --status-color: var(--green-600);

    background: var(--green-100);
  }
}
