// Брейкпоинты в SASS (используются только в миксинах)
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 834px;
$breakpoint-mobile: 375px;

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop-tablet {
  @media (max-width: $breakpoint-desktop) and (min-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: $breakpoint-tablet) and (min-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
