<div class="modal_overlay">
  <div class="modal">
    <button id="closeModal" class="modal_close-btn" type="button" aria-label="close"></button>
    <div class="modal_img-conteiner">
      <picture>
        <source media="(min-width:1024px)" srcset="/assets/images/hand-with-star.webp">
        <source media="(min-width:748px)" srcset="/assets/images/hand-with-star-tablet.webp">
        <img
          class="modal_img"
          src="/assets/images/hand-with-star-mob.webp"
          alt="success image"
          loading="lazy"
        >
      </picture>
    </div>
    <h2 class="modal_title">Ваша заявка успешно оформлена!</h2>
    <p class="modal_desc">
      В течении дня с вами свяжется наш специалист для уточнения деталей и согласования плана работ
    </p>
    <button id="okBtn" class="btn btn--primary" type="button" aria-label="ok">Понятно</button>
  </div>
</div>
