@use "./variables" as *;

:root {
  // Цветовая палитра (из макета)
  --blue-500: #2e6ce6;
  --blue-100: #eaf1ff;
  --green-600: #11813a;
  --green-100: #dcfce7;
  --green-500: #18cc73;
  --accent-orange: #fa6e32;
  --accent-orange-2: #ff4e1d;
  --red-500: #ff383c;
  --red-100: #fee2e2;
  --bg-page: #fcfcfc;
  --text-dark-500: #162035;
  --body-text-200: #374151;
  --body-text-100: #6b7280;
  --border-default: #e5e7eb;
  --color-background: #fff;
  --liner-button: linear-gradient(90deg, #1a3c80 0%, #2e6ce6 100%);
  --liner-grafic: linear-gradient(180deg, rgb(25 86 205 / 50%) 0%, rgb(133 167 235 / 30%) 100%);
  --liner-orange: linear-gradient(90deg, #fae715 0%, #fa6e32 33.17%);
  --bg-card: linear-gradient(180deg, rgb(47 128 237 / 6%) 26.45%, rgb(27 73 135 / 1%) 100%);
  --liner: linear-gradient(90deg, #85a7eb 0%, #1956cd 100%);
  --desctop-width: #{$desctop-width};
  --tablet-width: #{$tablet-width};
  --mobile-width: #{$mobile-width};
  --desctop-padding: 40px;
  --tablet-padding: 40px;
  --mobile-padding: 16px;

  // Транзиции
  --transition-fast: 150ms ease;
  --transition-base: 250ms ease;
  --transition-slow: 350ms ease;
}
